.custom-shape-divider-top-1630037002 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1630037002 svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 147px;
}

.custom-shape-divider-top-1630037002 .shape-fill {
    fill: #3A90E0;
}

.custom-shape-divider-top-1630037400 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1630037400 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 129px;
}

.custom-shape-divider-top-1630037400 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top-1630040547 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1630040547 svg {
    position: relative;
    display: block;
    width: calc(185% + 1.3px);
    height: 56px;
}

.custom-shape-divider-top-1630040547 .shape-fill {
    fill: #3A90E0;
}

.custom-shape-divider-top-1630040747 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1630040747 svg {
    position: relative;
    display: block;
    width: calc(155% + 1.3px);
    height: 129px;
}

.custom-shape-divider-top-1630040747 .shape-fill {
    fill: #3A90E0;
}


.custom-shape-divider-top-1630040813 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1630040813 svg {
    position: relative;
    display: block;
    width: calc(155% + 1.3px);
    height: 129px;
}

.custom-shape-divider-top-1630040813 .shape-fill {
    fill: #FFFFFF;
}
