html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  margin: 0;
}

h2, h3, h4, h5, h6, p {
  font-family: 'Montserrat', sans-serif;
}

.colored-section {
  background-color: #3A90E0;
  color: white;
  padding: 3% 15%;
}

.white-section {
  padding: 3% 15%;
}

/* Navbar */
.topnav {
  position: fixed;
  width: 100%;
  background-color: #004C94;
  overflow: hidden;
  padding: 15px;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Title Section */
.title {
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  margin-top: 0;
}

#title {
  padding: 7% 15%
}

.subtitle {
  font-size: 2rem;
}

/* About Section */
.profile-img {
  width: 20%;
}

.about-text {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Skills Section */
.skills {
  display: inline-flex;
  width: 100%;
}

.skill-img {
  width: 35%;
  height: 35%;
}

.skill-row {
  width: 50%;
  height: 100%;
  /* margin: 50px auto; */
}

/* Education Section */

/* Projects Section */
.button-small {
  padding: 14px 25px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color: #E0A13A;
  margin: 5px;
  font-size: 1.5rem;
}

.button-small:hover, .button-small:active {
  background-color: #DDB62A;
}

/* Contact Section */
.contact-icon {
  font-size: 2rem;
  padding: 10px 2%;
}

/* Footer */
.credit {
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1028px) {
  .profile-img {
    width: 50%;
  }

  .about-text {
    font-size: 1rem;
  }

  .skills {
    display: block;
  }
  .skill-row {
    margin: 10px auto;
    width: 100%
  }
}
